*.suo
*.vcxproj.user
*.csproj.user
*.opensdf
*.sdf
*.ipch
bin/
obj/
/sample-c/build/vs2015/sample-c.VC.VC.opendb
/sample-c/build/vs2015/sample-c.VC.db
.idea
*.out
*.exe
cmake-build-debug/
